Authors: Hoon Na and Sudhanshu Manda

In [1]:
import itertools
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import pandas as pd
import statsmodels.api as sm
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib.cbook as cbook
from matplotlib.dates import DateFormatter
import sys
import pandas as pd
import psycopg2

In [14]:
# connect to the PostGre SQL database on AWS
engine = psycopg2.connect(
    database="cse6242team22db",
    user="Team22",
    password="vacayaway",
    host="cse6242-db.cvdup1gpakos.us-east-2.rds.amazonaws.com",
    port='5432'
)
# create table crime_data (
# 	id int primary key,
# 	report_date date,
# 	latitude float,
# 	longitude float,
# 	ucr int,
# 	ucr_literal varchar,
# 	crime_harm_index int)


# create table homeaway_listings (
# 	id int primary key,
# 	listingId varchar,
# 	price_amt float,
# 	price_avg_nightly float,
# 	price_fees float,
# 	price_rent float,
# 	latitude float,
# 	longitude float,
# 	city varchar,
# 	state varchar,
# 	country varchar,
# 	review_count int,
# 	review_average float,
# 	bathrooms int,
# 	bedrooms int,
# 	listing_url varchar,
# 	book_with_confidence boolean)

# create table yelp_data (
#     id int primary key,
#     name varchar,
#     rating float,
#     review_count int,
#     categories varchar,
#     other_id varchar,
#     location varchar,
#     price varchar,
#     latitude float,
#     longitude float,
#


cur = engine.cursor()
cur2 = engine.cursor()

# cur.execute("SELECT * FROM crime_data limit 10;")
# print(cur.fetchone())
# cur.execute("SELECT * FROM yelp_data limit 10;")
# print(cur.fetchone())
##cur.execute("SELECT * FROM homeaway_listings limit 10;")
#print(cur.fetchall())

str_category = 'Night Life'
str_subcategory = 'Bars'

# Construct SQL command

str_cmd_block1 = """SELECT rank_filter.* FROM (
SELECT hl.index,hl.listing_id,hl.review_average ,hl.price_rent, hl.bathrooms, yd.name, yd.rating, yd.primary_categories,yd.secondary_categories, yd.price, yd.categories, hl.crime_score, st_distance(hl.geo_point::geography, yd.geo_point::geography) as distance, 
rank() OVER (
PARTITION BY hl.index
ORDER BY st_distance(hl.geo_point::geography, yd.geo_point::geography)
)
FROM yelp_data yd, homeaway_v2 hl
WHERE primary_categories Like CONCAT('%',"""

str_cmd_block2 = '\'' + str_category + '\''

str_cmd_block3 = """,'%') and secondary_categories Like CONCAT('%', """

str_cmd_block4 = '\'' + str_subcategory + '\''

str_cmd_block5 = """, '%') and yd.rating > 2.5
) rank_filter WHERE RANK <= 5;"""

str_cmd = str_cmd_block1 + str_cmd_block2 + str_cmd_block3 + str_cmd_block4 + str_cmd_block5

cur.execute(str_cmd)

#primary_categories and secondary_categories
#cur.execute("select * from homeaway_listings hl join crime_data cd on st_distance(hl.geo_point::geography, cd.geo_point::geography) < 300 where hl.id =3;")
response = cur.fetchall()
temp_df = pd.DataFrame(response)
#crime_tot = pd.DataFrame()
temp_df
##crime_tot = pd.DataFrame()

str_cmd_2 = """SELECT id,listingId,review_average ,price_rent, bathrooms, crime_score
FROM homeaway_listings
ORDER BY id"""

cur2.execute(str_cmd_2)

response2 = cur2.fetchall()
temp_df_test_2 = pd.DataFrame(response2)

In [15]:
temp_df_test_2

       0         1         2        3  4          5
0      0   7512702  0.000000  1150.00  1  16.494111
1      1   7554619  5.000000  1520.00  1  18.891851
2      2   v625088  4.789473  3464.76  2  18.786659
3      3  v1424850  4.750000  1750.00  2   2.058508
4      4   7130050  4.800000   918.00  1  24.915042
5      5   7172028  4.545454  1948.00  2  28.516912
6      6   v382033  4.647059  1520.00  1  47.590545
7      7   v468017  4.428571  1098.00  1  32.681038
8      8   7263368  4.000000  1920.00  2   4.575198
9      9  v1376109  5.000000  1648.00  1   6.963036
10    10  v1417224  5.000000   602.30  1   3.303007
11    11   7290460  0.000000  1520.00  1   8.991180
12    12   7187508  3.000000  1112.00  1   8.555546
13    13   7331172  0.000000  1210.00  1  28.024956
14    14   v908394  2.250000   820.00  1  76.971400
15    15  v1018973  4.000000  1280.00  1  79.758888
16    16  v1431497  2.500000   893.00  2   8.306868
17    17  v1337903  4.888889  1719.50  2  10.863639
18    18   4938297  4.000000   913.12  1   3.466827
19    19   v789728  4.750000  1101.60  1  10.734748
20    20   7000664  5.000000  1800.00  2  11.187763
21    21   4023000  5.000000  1694.00  2   7.071412
22    22   4782031  4.727272  1260.00  1   4.577176
23    23   v363870  4.699187   860.15  1  56.568814
24    24   4993538  5.000000  1800.00  2  12.795622
25    25   4247574  4.882353  1155.42  1   5.103966
26    26   4467366  5.000000  1190.00  1   4.872404
27    27   v632288  4.630137  1232.00  1  76.971400
28    28   4777156  5.000000   936.00  1   4.084563
29    29   4982430  4.333334  1775.00  1   5.103931
..   ...       ...       ...      ... ..        ...
689  689  v1432820  4.000000   960.00  2   5.181049
690  690  v1478630  4.500000  1728.00  2   3.177330
691  691   7586410  0.000000  1032.00  1  29.842395
692  692   7411265  5.000000  1083.00  1  13.336080
693  693  v1536954  5.000000  1880.00  2   5.806588
694  694  v1523074  5.000000  1903.50  3  14.080129
695  695   7401567  0.000000   684.00  1  10.703441
696  696   7351898  5.000000  1598.88  2  21.148469
697  697   7353811  5.000000  1440.00  2   0.509264
698  698  v1475844  5.000000  4377.50  3  10.417967
699  699   7464467  5.000000  1886.70  1  12.945792
700  700  v1432820  4.000000   960.00  2   5.181049
701  701  v1478630  4.500000  1728.00  2   3.177330
702  702  v1521697  0.000000  3564.00  2   5.069584
703  703  v1570101  5.000000   782.00  1   5.828588
704  704   7332509  4.600000   648.00  1  22.066632
705  705   7360888  0.000000  1240.00  2   4.722624
706  706   7154828  4.000000  1000.00  1  15.408755
707  707   7587246  5.000000  1235.00  3   6.908621
708  708   7420365  0.000000   689.04  1   5.104985
709  709   7517678  0.000000  1480.00  2   6.848776
710  710   7653337  0.000000  2026.20  2   5.047532
711  711   7482964  0.000000  2062.50  2  91.983019
712  712  v1380627  5.000000  1432.80  2   0.000000
713  713   7112742  4.600000   960.00  2   0.000000
714  714   7178573  0.000000  1320.00  2   0.000000
715  715   7301123  0.000000  4180.00  3   0.000000
716  716  v1437224  5.000000  1395.00  2   0.000000
717  717  v1378107  0.000000  4301.60  3   0.000000
718  718   4895408  0.000000   877.20  1   0.000000

[719 rows x 6 columns]

In [ ]:
temp_df

**Data Amalgamation**

At this stage, the combined dataset contains 5 entries for each listing corresponding to the 5 nearest businesses (in order) that fall under the target User Category. 

A Distance Score (D) will be calculated for each group of entries corresponding to listing $x$ based on the following formula:

$D_x$ = Distance Score for listing $x$

$d_i$ = distance value for business listing $i$

$$D_x = \sum_{i=1}^5 \frac{i}{d_i}$$

This Distance Score formula is effective at discriminating between listings with farther away UC businesses from closer businesses. For example, a listing with UC businesses closer to it will have a higher Distance Score than a listing with UC businsses farther away.

In [16]:
# Rename columns for readability
temp_df = temp_df.rename(index=str, columns={
    0: "id",
    1: "listingId",
    2: "review_average",
    3: "price_rent",
    4: "bathrooms",
    5: "yd_name",
    6: "yd_rating",
    7: "yd_primary_categories",
    8: "yd_secondary_categories",
    9: "yd_price",
    10: "yd_categories",
    11: "crime_score",
    12: "distance",
    13: "rank"
})

temp_df_test_2 = temp_df_test_2.rename(index=str, columns={
    0: "id",
    1: "listingId",
    2: "review_average",
    3: "price_rent",
    4: "bathrooms",
    5: "crime_score",
})

In [ ]:
temp_df_test_2

In [18]:
temp_df

,id,listingId,review_average,price_rent,bathrooms,yd_name,yd_rating,yd_primary_categories,yd_secondary_categories,yd_price,yd_categories,crime_score,distance,rank
0,0,7554619,5.000000,1378.00,1.0,The Lawrence,4.0,"Night Life, Food","Cocktail Bars, Breakfast & Brunch, American",$$,"American (New), Cocktail Bars, Breakfast & Brunch",373,190.931083,1
1,0,7554619,5.000000,1378.00,1.0,Takorea,3.5,"Night Life, Food","Bars, Mexican, Korean",$$,"Bars, Korean, Mexican",373,264.629678,2
2,0,7554619,5.000000,1378.00,1.0,Bulldog's,4.0,Night Life,Gay Bars,$,Gay Bars,373,299.798713,3
3,0,7554619,5.000000,1378.00,1.0,The Sivas,3.5,"Night Life, Food","Mediterranean, Greek, Hookah Bars",$$,"Mediterranean, Greek, Hookah Bars",373,315.556865,4
4,0,7554619,5.000000,1378.00,1.0,Blue India,4.0,"Night Life, Food","Bars, Indian",$$,"Bars, Indian",373,322.745053,5
5,1,7512702,4.000000,1119.00,1.0,Community Smith,3.5,"Night Life, Food","Cocktail Bars, American",$$,"American (New), Cocktail Bars",1,323.560954,1
6,1,7512702,4.000000,1119.00,1.0,Pho King - Midtown,4.0,"Night Life, Food","Bars, Restaurants, South Asian",$$,"Vietnamese, Bars, Soup",1,328.803045,2
7,1,7512702,4.000000,1119.00,1.0,Midcity Cafe,4.0,"Night Life, Food","Bars, Cafe",None,"Cafes, Bars",1,334.092092,3
8,1,7512702,4.000000,1119.00,1.0,Alibi Lounge,3.0,Night Life,"Hookah Bars, Dance Clubs",None,"Hookah Bars, Dance Clubs",1,387.513852,4
9,1,7512702,4.000000,1119.00,1.0,The Garden Grille and bar,3.0,"Night Life, Food","Bars, American",None,"American (Traditional), Bars",1,406.615990,5
10,2,v625088,4.789473,3464.76,2.0,JavaVino,4.0,"Night Life, Food","Wine Bars, Coffee & Tea",$,"Coffee & Tea, Wine Bars",74,225.597007,1
11,2,v625088,4.789473,3464.76,2.0,Il Localino,3.5,"Night Life, Food","Cocktail Bars, Wine Bars, European",$$$,"Italian, Wine Bars, Cocktail Bars",74,234.653731,2
12,2,v625088,4.789473,3464.76,2.0,Vortex Bar & Grill,4.0,"Night Life, Food","Bars, American",$$,"American (Traditional), Bars",74,280.985987,3
13,2,v625088,4.789473,3464.76,2.0,Star Community Bar,4.0,"Night Life, Arts&Entertainment","Bars, Music Venues",$,"Music Venues, Bars",74,308.528311,4
14,2,v625088,4.789473,3464.76,2.0,Manuel's Tavern,4.0,"Night Life, Food","Bars, American",$$,"Bars, American (Traditional)",74,316.110789,5
15,3,7172028,4.615385,1929.00,2.0,Negril Village,3.5,"Night Life, Food","Caribbean, Breakfast & Brunch, Bars",$$,"Caribbean, Bars, Breakfast & Brunch",373,195.397568,1
16,3,7172028,4.615385,1929.00,2.0,617 Social Club,4.0,"Night Life, Shopping","Cocktail Bars, Sports Bars, Tobacco Shops",$$,"Sports Bars, Cocktail Bars, Tobacco Shops",373,265.599104,2
17,3,7172028,4.615385,1929.00,2.0,Escorpi??n,3.5,"Night Life, Food","Bars, Mexican",$$,"Bars, Mexican",373,409.890945,3
18,3,7172028,4.615385,1929.00,2.0,Halo Lounge,3.5,Night Life,"Lounges, Hookah Bars, Dance Clubs",$$,"Lounges, Dance Clubs, Hookah Bars",373,461.879261,4
19,3,7172028,4.615385,1929.00,2.0,The Sivas,3.5,"Night Life, Food","Mediterranean, Greek, Hookah Bars",$$,"Mediterranean, Greek, Hookah Bars",373,463.565270,5
20,4,v1376109,5.000000,1648.00,1.0,Boxcar,4.0,"Night Life, Food","Wine Bars, American, Beer Bar",$$,"American (New), Beer Bar, Wine Bars",107,1629.822489,1
21,4,v1376109,5.000000,1648.00,1.0,Lean Draft House,4.0,"Night Life, Food","Bars, Fast Food",$$,"Bars, Tacos",107,1796.236182,2
22,4,v1376109,5.000000,1648.00,1.0,Club Ellery's,4.0,"Night Life, Food","Bars, American, Dance Clubs",$$,"Bars, Dance Clubs, American (New)",107,2623.578410,3
23,4,v1376109,5.000000,1648.00,1.0,Bakaris Pizza & Kava Lounge,3.0,"Night Life, Food","Bars, Pizza",$,"Pizza, Bars",107,2658.498833,4
24,4,v1376109,5.000000,1648.00,1.0,C&J Sports Bar 2,3.5,Night Life,Sports Bars,None,Sports Bars,107,3862.744955,5
25,5,v1417224,5.000000,602.30,1.0,Manuel's Tavern,4.0,"Night Life, Food","Bars, American",$$,"Bars, American (Traditional)",30,179.044229,1
26,5,v1417224,5.000000,602.30,1.0,JavaVino,4.0,"Night Life, Food","Wine Bars, Coffee & Tea",$,"Coffee & Tea, Wine Bars",30,201.146274,2
27,5,v1417224,5.000000,602.30,1.0,Gino's East - Atlanta,3.5,"Night Life, Food","Bars, European, Pizza",None,"Pizza, Bars, Italian",30,363.017848,3
28,5,v1417224,5.000000,602.30,1.0,Il Localino,3.5,"Night Life, Food","Cocktail Bars, Wine Bars, European",$$$,"Italian, Wine Bars, Cocktail Bars",30,380.930802,4
29,5,v1417224,5.000000,602.30,1.0,Righteous Room,4.0,"Night Life, Food","Bars, American",$,"American (Traditional), Bars",30,417.796946,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3122,621,v1461224,1.000000,1788.00,2.0,Deep End,3.5,"Night Life, Arts&Entertainment","Cocktail Bars, Dive Bars, Arcades",$$,"Cocktail Bars, Arcades, Dive Bars",132,75.666752,1
3123,621,v1461224,1.000000,1788.00,2.0,City Winery,3.0,"Night Life, Attraction, Food","Wine Bars, American, Venues & Event Spaces",$$,"Venues & Event Spaces, Wine Bars, American (New)",132,140.103920,2
3124,621,v1461224,1.000000,1788.00,2.0,King of Pops Bar,4.5,"Night Life, Food","Cocktail Bars, Ice Cream & Frozen Yogurt",$,"Cocktail Bars, Ice Cream & Frozen Yogurt",132,196.682002,3
3125,621,v1461224,1.000000,1788.00,2.0,CRU Urban Lounge,3.5,Night Life,"Lounges, Hookah Bars",$$,"Lounges, Hookah Bars",132,200.230311,4
3126,621,v1461224,1.000000,1788.00,2.0,El Super Pan,4.0,"Night Life, Food","Bars, American, Fast Food",$$,"Latin American, Bars, Sandwiches",132,213.665672,5
3127,622,v1603304,0.000000,1336.00,1.0,Caffeine Atlanta,4.5,"Night Life, Food","Cafe, Coffee & Tea, Hookah Bars",None,"Coffee & Tea, Hookah Bars, Cafes",96,407.706838,1
3128,622,v1603304,0.000000,1336.00,1.0,Bar Amalfi,3.0,Night Life,Bars,$$,Bars,96,409.328343,2
3129,622,v1603304,0.000000,1336.00,1.0,House of Hookah,3.0,Night Life,Hookah Bars,$$,Hookah Bars,96,426.104578,3
3130,622,v1603304,0.000000,1336.00,1.0,Six Feet Under Pub & Fish House- Westside,3.5,"Night Life, Food","Cocktail Bars, Seafood, Fast Food",$$,"Seafood, Tacos, Cocktail Bars",96,712.260487,4
3131,622,v1603304,0.000000,1336.00,1.0,Allora,3.5,"Night Life, Food","Cocktail Bars, European",$$,"Cocktail Bars, Italian",96,717.224690,5
3132,623,v1603316,0.000000,1780.00,2.0,Caffeine Atlanta,4.5,"Night Life, Food","Cafe, Coffee & Tea, Hookah Bars",None,"Coffee & Tea, Hookah Bars, Cafes",96,407.706838,1
3133,623,v1603316,0.000000,1780.00,2.0,Bar Amalfi,3.0,Night Life,Bars,$$,Bars,96,409.328343,2
3134,623,v1603316,0.000000,1780.00,2.0,House of Hookah,3.0,Night Life,Hookah Bars,$$,Hookah Bars,96,426.104578,3
3135,623,v1603316,0.000000,1780.00,2.0,Six Feet Under Pub & Fish House- Westside,3.5,"Night Life, Food","Cocktail Bars, Seafood, Fast Food",$$,"Seafood, Tacos, Cocktail Bars",96,712.260487,4
3136,623,v1603316,0.000000,1780.00,2.0,Allora,3.5,"Night Life, Food","Cocktail Bars, European",$$,"Cocktail Bars, Italian",96,717.224690,5
3137,624,7112742,4.666666,960.00,2.0,CalaBar & Grill,4.0,"Night Life, Food","Cocktail Bars, American, Caribbean",$$,"Cocktail Bars, American (New), Caribbean",513,3497.599518,1
3138,624,7112742,4.666666,960.00,2.0,Smoke Rise Bottle Shoppe,4.0,Night Life,"Beer, Cigar Bars",$$,"Beer, Cigar Bars",513,6811.785600,2
3139,624,7112742,4.666666,960.00,2.0,My Parents' Basement,4.0,"Night Life, Arts&Entertainment, Shopping","Bars, Comic Books, Arcades",$$,"Comic Books, Bars, Arcades",513,8123.631572,3
3140,624,7112742,4.666666,960.00,2.0,Colossus Pizza,4.0,"Night Life, Food","Bars, Greek, Pizza",$,"Pizza, Greek, Bars",513,8988.580532,4
3141,624,7112742,4.666666,960.00,2.0,Pea Ridge Kitchen and Bar,4.0,"Night Life, Food","Bars, American",$$,"American (New), Bars",513,9078.335964,5
3142,625,v1437224,5.000000,1450.80,2.0,Joe's Bar & Grill,4.0,"Night Life, Food","Sports Bars, American",$,"Sports Bars, American (Traditional)",513,937.151528,1
3143,625,v1437224,5.000000,1450.80,2.0,Bigelow's Bar & Grill,3.5,"Night Life, Food","Bars, American",$,"Bars, American (Traditional)",513,1059.098648,2
3144,625,v1437224,5.000000,1450.80,2.0,Poor Hendrix,4.5,"Night Life, Food","Bars, Tapas, American",$$,"American (New), Bars, Tapas/Small Plates",513,3149.983543,3
3145,625,v1437224,5.000000,1450.80,2.0,Kirkyard Public House,3.5,"Night Life, Food","Beer, American, Sports Bars",$$,"American (New), Beer, Sports Bars",513,3355.101673,4
3146,625,v1437224,5.000000,1450.80,2.0,529,3.5,"Night Life, Arts&Entertainment","Bars, Music Venues",$,"Bars, Music Venues",513,3627.427711,5
3147,626,4895408,0.000000,877.20,1.0,Seasons Bakery & Grille,3.0,"Night Life, Food","Bars, Breakfast & Brunch, American",None,"American (Traditional), Breakfast & Brunch, Bars",513,279.202698,1
3148,626,4895408,0.000000,877.20,1.0,Malone's Grill & Bar,3.5,"Night Life, Food","Bars, American",$$,"American (Traditional), Bars",513,433.949424,2
3149,626,4895408,0.000000,877.20,1.0,Mellow Mushroom,3.0,"Night Life, Food","Bars, Pizza, Fast Food",$$,"Bars, Pizza, Sandwiches",513,812.970552,3
3150,626,4895408,0.000000,877.20,1.0,Hammer's Good Time Emporium,3.0,"Night Life, Food","Barbeque, American, Dive Bars",$,"Dive Bars, American (Traditional), Barbeque",513,1085.835502,4
3151,626,4895408,0.000000,877.20,1.0,Blue Goose Bar & Kitchen,4.0,"Night Life, Food","Bars, Restaurants",None,"Bars, Restaurants",513,1336.727239,5

In [28]:
temp_df.loc[temp_df['distance'] == 0, 'distance'] = 0.01

In [29]:
temp_df[temp_df['distance'] == 0]

Empty DataFrame
Columns: [id, listingId, review_average, price_rent, bathrooms, yd_name, yd_rating, yd_primary_categories, yd_secondary_categories, yd_price, yd_categories, crime_score, distance, rank]
Index: []

In [ ]:
test_df = pd.DataFrame(data = {
    "id": [0,0,0,1,1,1],
    "dist": [800, 1600, 2000, 900, 3000, 3100],
    "rank": [1,2,3,1,2,3]
})

test_df['weightedOne'] = test_df['dist'] / test_df['rank']
test_df['weightedTwo'] = test_df['rank'] / test_df['dist']
test_df['weightedThree'] = 100 / test_df['weightedOne']

In [ ]:
test_df

In [ ]:
test_df.groupby('id').sum()

In [ ]:
temp_df['D'] = temp_df['rank'] / temp_df['distance']

In [ ]:
temp_df

In [ ]:
temp_df_agg = temp_df.groupby('id').agg({
    'review_average': 'first',
    'price_rent': 'first',
    'bathrooms': 'first',
    'yd_rating': 'first',
    'crime_score': 'first',
    'D': 'sum'
})

Based on this work, the code will now be functionalized such that a Distance Score column for a specified User Category will be outputted and can be appended to the Listings Corpus. Specifically, only the last column `D` is required to be appended as the Distance Score for a specific User Category.

In [ ]:
test_df3 = temp_df_agg.drop(columns=['D'])

test_df3['test_D_UC1'] = temp_df_agg['D']

In [ ]:
test_df3

## Pipeline Steps

At this stage the following information is available and required for this part of the pipeline:
- HomeAway Listings Corpus with appended Crime Scores (LC-CS): stored in AWS PostGre SQL
- Primary/Secondary Category information for UC1, UC2, UC3

The Pipeline steps to add the Distance Scores for each UC are as follows:

1. Obtain the LC-CS

2. Obtain Distance Score columns for each UC (UC1-DS, UC2-DS, UC3-DS) and append them to LC-CS

### Pipeline Code for Step 0: Connect to the SQL database

In [ ]:
# connect to the PostGre SQL database on AWS
engine = psycopg2.connect(
    database="cse6242team22db",
    user="Team22",
    password="vacayaway",
    host="cse6242-db.cvdup1gpakos.us-east-2.rds.amazonaws.com",
    port='5432'
)

### Pipeline Code for Step 1: Obtain the LC-CS

In [ ]:
cur_LC_CS = engine.cursor()

str_cmd_LC_CS = """SELECT index AS id,listingId,review_average ,price_rent, bathrooms, crime_score
FROM homeaway_listings_v2
ORDER BY id"""

cur_LC_CS.execute(str_cmd_LC_CS)

response_LC_CS = cur_LC_CS.fetchall()
df_LC_CS = pd.DataFrame(response_LC_CS)

In [ ]:
# Rename columns for readability
df_LC_CS = df_LC_CS.rename(index=str, columns={
    0: "id",
    1: "listingId",
    2: "review_average",
    3: "price_rent",
    4: "bathrooms",
    5: "crime_score",
})

In [ ]:
df_LC_CS

### Pipeline Code Step 2: Obtain Distance Score columns

A function will be created that takes in a Primary/Secondary Category pair and outputs a Distance Score column in the form of a Pandas Series that can be appended to the LC-CS DataFrame

In [30]:
def calculate_UC_DS(str_category, str_subcategory):
    cur = engine.cursor()

    #str_category = 'Food'
    #str_subcategory = 'Poke'

    # Construct SQL command

    str_cmd_block1 = """
    SELECT rank_filter.* FROM (
        SELECT hl.index,
            hl.listing_id,
            hl.review_average,
            hl.price_rent,
            hl.bathrooms,
            yd.name,
            yd.rating,
            yd.primary_categories,
            yd.secondary_categories,
            yd.price,
            yd.categories,
            hl.crime_score,
            st_distance(hl.geo_point::geography, yd.geo_point::geography) as distance,
            rank() OVER (
                PARTITION BY hl.index
                ORDER BY st_distance(hl.geo_point::geography, yd.geo_point::geography)
                )
            FROM yelp_data yd, homeaway_v2 hl
            WHERE primary_categories Like CONCAT('%',"""

    str_cmd_block2 = '\'' + str_category + '\''

    str_cmd_block3 = """,'%') and secondary_categories Like CONCAT('%', """

    str_cmd_block4 = '\'' + str_subcategory + '\''

    str_cmd_block5 = """, '%') and yd.rating > 2.5
    ) rank_filter WHERE RANK <= 5;"""

    str_cmd = str_cmd_block1 + str_cmd_block2 + str_cmd_block3 + str_cmd_block4 + str_cmd_block5

    # execute SQL command and recieve output

    cur.execute(str_cmd)
    response = cur.fetchall()
    temp_df = pd.DataFrame(response)

    # Rename columns for readability
    temp_df = temp_df.rename(index=str, columns={
        0: "id",
        1: "listingId",
        2: "review_average",
        3: "price_rent",
        4: "bathrooms",
        5: "yd_name",
        6: "yd_rating",
        7: "yd_primary_categories",
        8: "yd_secondary_categories",
        9: "yd_price",
        10: "yd_categories",
        11: "crime_score",
        12: "distance",
        13: "rank"
    })
    
    temp_df.loc[temp_df['distance'] == 0, 'distance'] = 0.01 # Preprocessing 0-distance values out to prevent errors

    temp_df['D'] = temp_df['rank'] / temp_df['distance']

    temp_df_agg = temp_df.groupby('id').agg({
        'listingId': 'first',
        'review_average': 'first',
        'price_rent': 'first',
        'bathrooms': 'first',
        'yd_rating': 'first',
        'crime_score': 'first',
        'D': 'sum'
    })

    output_score = temp_df_agg['D']

    return(output_score)

In [ ]:
# testing parts of the code
cur_test = engine.cursor()

str_cmd_test = """SELECT DISTINCT primary_categories, secondary_categories FROM yelp_data ORDER BY primary_categories;"""
cur_test.execute(str_cmd_test)
pd.DataFrame(cur_test.fetchall())

In [ ]:
calculate_UC_DS('Night Life', 'Bars')

### Full Test Execution

Test User Categories (Primary / Secondary):
1. 'Food' / 'Poke'
2. 'Active Life' / 'Golf'
3. 'Night Life' / 'Bars'

In [31]:
# define test UC pairs of Primary/Secondary Categories

cat1 = 'Food'
subcat1 = 'Poke'

cat2 = 'Active Life'
subcat2 = 'Golf'

cat3 = 'Night Life'
subcat3 = 'Bars'

In [32]:
# Step 0: connect to the PostGre SQL database on AWS
engine = psycopg2.connect(
    database="cse6242team22db",
    user="Team22",
    password="vacayaway",
    host="cse6242-db.cvdup1gpakos.us-east-2.rds.amazonaws.com",
    port='5432'
)


# Step 1: Obtain the LC-CS
cur_LC_CS = engine.cursor()

str_cmd_LC_CS = """SELECT index,listing_id,review_average ,price_rent, bathrooms, crime_score
FROM homeaway_v2
ORDER BY index"""

cur_LC_CS.execute(str_cmd_LC_CS)

response_LC_CS = cur_LC_CS.fetchall()
df_LC_CS = pd.DataFrame(response_LC_CS)

# Rename columns for readability
df_LC_CS = df_LC_CS.rename(index=str, columns={
    0: "id",
    1: "listingId",
    2: "review_average",
    3: "price_rent",
    4: "bathrooms",
    5: "crime_score",
})

df_LC_CS['UC1-DS'] = list(calculate_UC_DS(cat1, subcat1))
df_LC_CS['UC2-DS'] = list(calculate_UC_DS(cat2, subcat2))
df_LC_CS['UC3-DS'] = list(calculate_UC_DS(cat3, subcat3))

In [33]:
df_LC_CS.iloc[55]

id                        55
listingId            4360925
review_average             5
price_rent           1080.08
bathrooms                  1
crime_score              132
UC1-DS            0.00632524
UC2-DS            0.00432642
UC3-DS               100.355
Name: 55, dtype: object

In [34]:
cur.execute("""ALTER TABLE homeaway_v2 ADD COLUMN geo_point geometry(Geometry,0);""")
cur.execute("""UPDATE homeaway_v2 SET geo_point = ST_POINT(longitude, latitude);""")

In [6]:
# Step 0: connect to the PostGre SQL database on AWS
engine = psycopg2.connect(
    database="cse6242team22db",
    user="Team22",
    password="vacayaway",
    host="cse6242-db.cvdup1gpakos.us-east-2.rds.amazonaws.com",
    port='5432'
)

In [7]:
cur = engine.cursor()

In [19]:
cur.execute("""
SELECT *
FROM (
    SELECT listing_id, gid 
    FROM homeaway_v2
    JOIN neighborhoods nb ON st_contains(nb.atl_geom, st_setsrid(geo_point, 4326))
    ) A
JOIN T ON A.gid = T.gid
""")
testDF = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])

In [17]:
testDF.columns

Index(['listing_id', 'gid'], dtype='object')

In [21]:
testDF['crime_score']

0       66.307341
1       66.307341
2       66.307341
3       66.307341
4       66.307341
5       66.307341
6       66.307341
7       66.307341
8       66.307341
9       66.307341
10      43.923431
11      43.923431
12      43.923431
13      47.083021
14      47.083021
15      47.083021
16      47.083021
17      47.083021
18      47.083021
19      47.083021
20      47.083021
21      47.083021
22      47.083021
23      47.083021
24      47.083021
25      47.083021
26     132.150403
27     132.150403
28     132.150403
29     132.150403
          ...
584     10.033564
585     10.033564
586     16.634925
587      4.333323
588     22.489291
589     22.489291
590     22.489291
591     22.489291
592     22.489291
593      5.268127
594      5.268127
595     10.722826
596      6.343345
597     62.230465
598     62.230465
599     62.230465
600     62.230465
601     62.230465
602     62.230465
603     62.230465
604     62.230465
605     62.230465
606     62.230465
607     62.230465
608      1.762172
609      9.768560
610      7.157189
611     75.005933
612     38.002878
613     38.002878
Name: crime_score, Length: 614, dtype: float64