In [ ]:
import itertools
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import pandas as pd
import statsmodels.api as sm
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib.cbook as cbook
from matplotlib.dates import DateFormatter
import sys
import pandas as pd
import psycopg2
import csv
from sqlalchemy import create_engine

In [ ]:
engine = psycopg2.connect(
    database="cse6242team22db",
    user="Team22",
    password="vacayaway",
    host="cse6242-db.cvdup1gpakos.us-east-2.rds.amazonaws.com",
    port='5432'
)

In [ ]:
pd_engine = create_engine('postgresql://Team22:vacayaway@cse6242-db.cvdup1gpakos.us-east-2.rds.amazonaws.com:5432/cse6242team22db')

In [ ]:
cur = engine.cursor()

In [ ]:
# with open('homeaway_data_update.csv', 'r') as f:
#     reader = csv.reader(f)
#     next(reader) # Skip header row
#     for row in reader:
#         cur.execute()



# str_cmd = """COPY homeaway_listings FROM 'homeaway_data_update.csv' DELIMITER ',' CSV HEADER"""
# cur.execute(str_cmd)
# response = cur.fetchall()

In [ ]:
cur.execute("""DROP TABLE if exists homeaway_v2;""")
engine.commit()

In [ ]:
test_dat = pd.read_csv('homeaway_data_update.csv').drop(['Unnamed: 0'], axis=1)

In [ ]:
test_dat.to_sql('homeaway_v2', pd_engine)

In [ ]:
cur.execute("""ALTER TABLE homeaway_v2 ADD COLUMN geo_point geometry(Geometry,0);""")
cur.execute("""UPDATE homeaway_v2 SET geo_point = ST_POINT(longitude, latitude);""")

In [ ]:
engine.commit()

In [ ]:
# cur.execute("""CREATE TABLE homeaway_v2 (
# id int primary key,
# listingId varchar,
# price_amt float,
# price_avg_nightly float,
# price_rent float,
# latitude float,
# longitude float,
# city varchar,
# state varchar,
# country varchar,
# review_count int,
# review_average float,
# bathrooms int,
# bedrooms int,
# listing_url varchar,
# book_with_confidence boolean,
# crime_score float);""")

In [ ]:
cur.execute("SELECT * FROM homeaway_v2")
pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])

In [ ]:
test_dat.columns

In [ ]:
# query = """INSERT INTO homeaway_v2 (listing_id, 
# price_amt, 
# price_avg_nightly, 
# price_rent, 
# latitude, 
# longitude, 
# city, 
# state, 
# country, 
# review_count,
# review_average,
# bathrooms,
# bedrooms,
# listing_url,
# book_with_confidence,
# crime_score) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""

# cur.executemany(query, test_dat)

In [1]:
cur

NameError: name 'cur' is not defined